src/main/odd/config/ropen.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en"><teiHeader><fileDesc><titleStmt><title>Ropen Schema</title><author>generated by Roma 4.7, edited by Christian Mahnke</author></titleStmt><publicationStmt><p>for use by whoever wants it</p></publicationStmt><notesStmt><note type="ns">http://www.sub.uni-goettingen.de/projects/ropen</note></notesStmt><sourceDesc><p>created on Wednesday 28th March 2012 11:12:06 AM</p></sourceDesc></fileDesc><revisionDesc><change when="2013-04-17" who="cmahnke">
                Archaeo18 durch Ropen ersetzt</change><change when="2012-06-20" who="cmahnke"><gi>respStmt</gi> hinzugefügt</change><change when="2012-06-08" who="cmahnke"> Checks für Header Metadaten eingebaut </change><change when="2012-05-31" who="cmahnke"> Ausprägungen für <gi>add</gi>, Attribut <gi>resp</gi> geändert. </change><change when="2012-05-30" who="cmahnke"> Wert 'sup' (superscript - höhergestellt) für Attribut <gi>rend</gi> bei element <gi>hi</gi> hinzugefügt. </change><change when="2012-05-30" who="cmahnke"> Wert 'sub' (subscript- tiefergestellt) für Attribut <gi>rend</gi> bei element <gi>hi</gi> hinzugefügt. </change><change when="2012-05-03" who="cmahnke"> Attributklasse <gi>personal</gi> wieder hinzugefügt. </change><change when="2012-05-03" who="cmahnke"> Attributklasse <gi>placement</gi> wieder hinzugefügt. </change><change when="2012-04-20" who="cmahnke"> @type "statue" für <gi>term</gi> entfernt. </change><change when="2012-04-17" who="cmahnke"> Ungenutzte Attributklassen entfernt. </change><change when="2012-04-17" who="cmahnke"> Auszeichnung des Bearbeiters (@resp) zu <gi>note</gi>
                hinzugefügt, Schematron regeln entsprechend angepasst. </change><change when="2012-04-17" who="cmahnke"> Einfügungen des Bearbeiters hinzugefügt </change><change when="2012-04-13" who="cmahnke"> Hebräisch zu den möglichen Sprachen hinzugefügt </change><change when="2012-04-12" who="cmahnke"> Auszeichnungsfehler in den Richtlinien
                korregiert, nach Hinweisen von Christiane Fritze </change><change when="2012-04-11" who="cmahnke"> Rechtschreibfehler bei einem Attributnamen
                behoben. </change><change when="2012-04-11" who="cmahnke"> Schachtelungsfehler bei Schematron Regeln
                behoben. </change><change when="2012-04-11" who="cmahnke"> Schachtelungsfehler im Header behoben. </change><change when="2012-04-11" who="cmahnke"> XML in der Beschreibung maskiert. </change><change when="2012-04-02" who="cmahnke"> Abschnitt für horizontale Linien hinzugefügt.
                Attribute @rend und @place zu &lt;figure/&gt; hinzugefügt </change><change when="2012-04-02" who="cmahnke"> &lt;note type="certainty"/&gt; für die interne
                Bearbeitung hinzugefügt. </change><change when="2012-04-05" who="cmahnke"> Es sind nun mehrere CerlIDs erlaubt, es werden
                CerlIDs mit dem Präfix "cni" akzeptiert. </change></revisionDesc></teiHeader><text><front><titlePage><docTitle><titlePart type="main">Archaeo18 TEI Kodierungsrichtlinien</titlePart></docTitle><docAuthor>Christiane Fritze</docAuthor><docAuthor>Christian Mahnke</docAuthor></titlePage><div><head>Richtlinien</head><div><head>Einleitung</head><p> Die festgelegten Editionsgrundsätze des Projektes gelten für alle
                        Vorlesungsmit- und Ab- bzw. Nachschriften. Allerdings dürfen Eigenheiten der
                        einzelnen Schriften berücksichtigt werden, so dass beispielsweise besondere
                        und immer wiederkehrende Abkürzungen und Siglen im Text stillschweigend
                        aufgelöst werden können. Diese müssen dann jedoch für jede Handschrift
                        gesondert angegeben werden. Die Edition ist so gestaltet, daß sie von
                        möglichst vielen Wissenschaftszweigen genutzt werden kann; eine rein
                        philologische Edition wird jedoch nicht angestrebt. </p></div><div><head>Konventionen der XML-Kodierung nach TEI von
                        ARCHAEO18-Handschriften:</head><div><head>Überschriften</head><p>Überschriften werden in <gi>head</gi> eingeschlossen. Zusätzlich wird das
                            gesamte Kapitel, zu dem die Überschrift gehört in ein <gi>div</gi>
                            eingeschlossen. </p></div><div><head>Seitenumbruch</head><p>Ein Seitenumbruch wird vor der Seite mit <gi>pb</gi> gekennzeichnet.
                            (&lt;pb/&gt; ist ein sogenanntes leeres Element, daher steht der / nach
                            dem Elementnamen.) </p></div><div><head>Fortlaufende Seitenzahlen</head><p>Fortlaufende Seitenzahlen werden nicht wiedergegeben; andere
                            Ordnungszahlen, wie beispielsweise die Vorlesungseinheiten, hingegen
                            schon. Diese können gegebenenfalls als Überschriften (s. o.)
                            ausgezeichnet werden.</p></div><div><head>Zeilenumbrüche</head><p>Zeilenumbrüche werden in der Erstaufnahme durch zwei ## markiert, diese
                            werden am Ende des Transkriptionsvorgangs durch <gi>lb</gi> ersetzt.</p></div><div><head>Absätze</head><p>Absätze werden mit dem Element <gi>p</gi> für paragraph kodiert.</p></div><div><head>Zitate</head><p>Zitate werden in <gi>q</gi> eingeschlossen.</p></div><div><head>Literaturangaben</head><p>Literaturangaben werden in der Erstaufnahme in <gi>bibl</gi>
                            eingeschlossen. Bei Bedarf kann das <gi>bibl</gi>-Element noch beliebig
                            tief strukturiert werden mit <gi>author</gi>, <gi>title</gi> etc. Bei
                            nicht eindeutigen und sehr kurzen Literaturangaben im Fließtext muss von
                            Fall zu Fall entschieden werden, welche Worte oder Satzteile
                            auszuzeichnen sind.</p></div><div><head>Personennamen</head><p>Personennamen wie Heyne werden in <gi>persName</gi> eingeschlossen. Die
                            Art von Person kann im Attribut role näher spezifiziert werden, z.B.
                                <code>&lt;persName
                                role="scientist"&gt;Schliemann&lt;/persName&gt;</code>.</p></div><div><head>Ortsnamen</head><p>Ortsnamen wie Göttingen werden in <gi>placeName</gi> eingeschlossen.</p></div><div><head/><p>Kunstwerke wie Laokoon werden in <gi>term</gi> eingeschlossen. Nähere
                            Angaben können im Attribut type gegeben werden: <code>&lt;term
                                type="collection"&gt;Laokoon&lt;/term&gt;</code>.</p></div><div><head>Datumsangaben</head><p>Datumsangaben wie "Ostern 1829" oder "26.05.2010" werden in <gi>date</gi>
                            eingeschlossen. Das Datum kann durch verschiedene Attribute noch weiter
                            spezifiziert werden, z.B. <code>&lt;date
                                when="2010-05-26"&gt;26.05.2010&lt;/date&gt;</code>. </p></div><div><head>Wechsel der Schriftart</head><p>Ein Wechsel der Schriftart von z.B. deutscher Kurrentschrift in
                            lateinische Druckbuchstaben wird in <gi>emph</gi> eingeschlossen.
                            Handelt es sich nur um einzelne Buchstaben am Anfang oder am Ende
                            Wortes, soll die Schriftart gewählt werden, in der mehr als die Hälfte
                            des Wortes verfasst ist; eine Auszeichnung erfolgt dementsprechend nur,
                            wenn das Wort daraufhin nicht mehr als in deutscher Kurrentschrift
                            verfasst gilt. </p></div><div><head> Wechsel der Sprache</head><p>Der Wechsel von deutscher Sprache in eine andere Sprache wird mit
                                <gi>foreign</gi> umschlossen werden. Die Sprache kann noch im
                            Attribut xml:lang spezifiziert werden, wobei die Sprachangabe nach ISO
                            369-1 erfolgen sollte (de=deutsch, fr=französisch, en=englisch,
                            gr=griechisch, it=italienisch, la=latein etc.) Griechische Passagen
                            werden in einem ersten Schritt mit <gi>foreign</gi> gekennzeichnet. In
                            einem zweiten Schritt wird der Text einfach durch griechische Zeichen
                            eingegeben Die Markierung durch <gi>foreign</gi> bleibt bestehen.
                            Zusätzlich kann die Passage in &lt;emph&gt; eingeschlossen werden.
                                <code>&lt;foreign&gt;ici quelques mots en français&lt;/foreign&gt;
                                &lt;foreign xml:lang="fr"&gt;ici quelques mots en
                                français&lt;/foreign&gt; &lt;emph&gt;&lt;foreign
                                xml:lang="gr"&gt;Аρχαεο&lt;/foreign&gt;&lt;/emph&gt;</code></p></div><div><head>Römische Zahlen</head><p>Römische Zahlen wie VI werden in <gi>emph</gi> eingeschlossen.</p></div><div><head>Lateinische Ordnungsbuchstaben</head><p>Lateinische Ordnungsbuchstaben wie A werden in <gi>emph</gi>
                            eingeschlossen.</p></div><div><head>Wechsel der Handschrift</head><p>Ein erkennbarer Wechsel der Handschrift wird mit <gi>handShift</gi>
                            angegeben. Wechselt die Hand wieder zurücke, erfolgt ein weiteres
                                <gi>handShift</gi>.</p></div><div><head>Anmerkungen</head><p>Anmerkungen werden in <gi>note</gi> eingeschlossen. Im Attribut place
                            wird angegeben, wo sich die Anmerkung befindet, ob beispielsweise am
                            Rand oder am Fuß der Seite (siehe die folgenden Beispiele). Anmerkungen
                            werden grundsätzlich immer an der Stelle transkribiert, an der der Anker
                            zu der Anmerkung im Quelltext steht. Erscheinen Literaturangaben in
                            einer eigenen Spalte am Rand, werden diese Angaben als Randnotizen
                            gekennzeichnet und den zugehörigen Textstellen zugeordnet. Textblöcke,
                            deren Zuordnung zum Haupttext nicht eindeutig erkennbar ist, werden mit
                                <gi>ab</gi> ausgezeichnet. <code>&lt;note&gt;noch was ganz
                                Wichtiges&lt;/note&gt; &lt;note place="margin"&gt;eine
                                Randnotiz&lt;/note&gt; &lt;note place="bottom"&gt;am Fuß der
                                Seite&lt;/note&gt; &lt;ab&gt;dies kann keiner Stelle zugeordnet
                                werden&lt;/ab&gt; </code></p></div><div><head>Hervorhebungen</head><p>Hervorhebungen werden markiert. Einfache Untersteichung wird in der
                            Erstaufnahme durch #u#...#/u# eingeschlossen, doppelte Unterstreichung
                            wird in #uu#...#/uu# eingeschlossen. Diese Kodierung wird nach
                            Beendigung der Tranksription in folgende Kodierung umgewandelt:
                                <code>&lt;hi rend="underline"&gt;...&lt;/hi&gt; und &lt;hi
                                rend="double underline"&gt;...&lt;/hi&gt;</code>.</p></div><div><head>Unsichere Lesungen</head><p>Unsichere Lesungen werden in <gi>unclear</gi> eingeschlossen.</p></div><div><head>Nichtauflösbare Unklarheiten</head><p>Nichtauflösbare Unklarheiten werden durch <gi>unclear</gi> markiert.</p></div><div><head>Fehlender Text</head><p>Fehlender Text: Fehlt Text (durch zu enge Bindung oder weil der Autor
                            eine offensichtliche Leerstelle gelassen hat), wird die Stelle mit
                                <gi>gap</gi> markiert werden. Fehlt Text, weil das Manuskript
                            beschädigt ist, kann die Passage auch mit <gi>damage</gi> markiert
                            werden. Fehlt Text, der aber eindeutig vom Transkribierenden zu
                            erschließen ist, wird die Stelle in <gi>supplied</gi> eingeschlossen.
                                <code>&lt;supplied&gt;das muss einfach hier gestanden
                                haben&lt;/supplied&gt;</code></p></div><div><head>Streichungen</head><p>Streichungen werden grundsätzlich in <gi>del</gi> eingeschlossen. Ist das
                            Gestrichene lesbar, wird es wiedergegeben, wenn nicht, bleicht das
                                <gi>del</gi> leer.</p></div><div><head>Einschübe</head><p>Einschübe des Autors werden in <gi>add</gi> eingeschlossen.</p></div><div><head>Endverschleifungen und Abkürzungen</head><p>Endverschleifungen und Abkürzungen werden aufgelöst und in <gi>expan</gi>
                            eingeschlossen.
                                <code>Endverschleif&lt;expan&gt;ungen&lt;/expan&gt;</code> Immer
                            wiederkehrende Endverschleifungen und Abkürzungen von kurzen und sehr
                            gebräuchlichen Wörtern werden im Text jedoch stillschweigend aufgelöst.
                            Für derartige Fälle wird eine Wortliste erstellt, die in den
                            Editionsgrundsätzen enthalten sein wird. </p></div><div><head>Kustoden</head><p>Kustoden werden wiedergegeben und mit <gi>fw</gi> ausgezeichnet.
                                <code>&lt;fw place="bottom"
                                type="catch"&gt;Kustode&lt;/fw&gt;</code></p></div><div><head>Mehrspaltigkeit</head><p>Mehrspaltigkeit: Besteht eine Seite vollständig aus mehreren Spalten (z.
                            B. bei einem Register) ist vor den Beginn einer jeden Spalte <gi>cb</gi>
                            (analog zu den <gi>pb</gi> vor jeder Seite) zu setzen. Verhält es sich
                            jedoch so, dass auf einer Seite ein- und mehrspaltig geschrieben wurde,
                            muss man noch markieren (für eine saubere Darstellung), wo die
                            Mehrspaltigkeit beginnt und aufhört: <code> &lt;milestone
                                unit="column"ype="start"/&gt; &lt;cb/&gt; &lt;list&gt;
                                &lt;item&gt;Registereintrag&lt;/item&gt;&lt;item&gt;Regsitereintrag&lt;/item&gt;
                                &lt;item&gt;Registereintrag&lt;/item&gt;&lt;item&gt;Registereintrag&lt;/item&gt;
                                &lt;cb/&gt;&lt;item&gt;Registereintrag&lt;/item&gt;&lt;item&gt;Registereintrag&lt;/item&gt;
                                &lt;item&gt;Registereintrag&lt;/item&gt; &lt;/list&gt;&lt;/cb&gt;
                                &lt;milestone unit="column"ype="end"/&gt; </code></p></div><div><head>Horizontale Linien</head><p>Hozizontale Linien werden durch <code>&lt;figure place="inline"
                                type="line"/&gt;</code> angegeben.</p></div></div><div><head>Diplomatische Transkription</head><p>Grundsätzlich gilt: Es wird diplomatisch transkribiert. Das bedeutet
                        beispielsweise:</p><div><head>Groß- und Kleinschreibung</head><p>Groß- und Kleinschreibung folgen der Vorlage. Ausnahmen: Satzanfänge
                            (auch bei Aufzählungen und unvollständigen Sätzen) und Eigennamen werden
                            immer großgeschrieben. (Abgesehen davon werden Eigennamen jedoch
                            entsprechend der Vorlage wiedergegeben.)</p></div><div><head>Akzentzeichen</head><p>Alle Akzentzeichen werden der Vorlage entsprechend wiedergegeben.
                            Ausnahmen: übergesetzte Vokale werden als Punkte aufgelöst; Zeichen, die
                            reine Lesehilfe sind, entfallen (ÿ wird als y wiedergegeben, ũ als u);
                            es wird nicht festgehalten, wenn beispielsweise Punkte über i und j
                            fehlen.</p></div><div><head>Ligaturen und Entitäten</head><p>Gebräuchliche Ligaturen (æ, œ) oder ähnliches bleiben erhalten, für &amp;
                            (Kaufmanns-Und) muss immer &amp; kodiert werden. Spitze Klammern (&lt;
                            und &gt;) werden immer als Entitäten &amp;lt; und &amp;gt; kodiert.
                            Ungebräuchliche Ligaturen werden ohne Auszeichnung aufgelöst.</p></div><div><head/><p>Die Getrennt- und Zusammenschreibung folgt der Vorlage, sofern diese
                            eindeutig ist.</p></div><div><head>Doppelter Bindestrich</head><p>Ein doppelter Bindestrich (=) wird als einfacher (-) wiedergegeben.</p></div><div><head>Zahlzeichen</head><p>Zahlzeichen werden vorlagengetreu wiedergegeben, es sei denn, daß
                            gewichtige Gründe für eine Auflösung sprechen.</p></div><div><head>Hochgestellte Zeichen</head><p>Hochgestellte Zeichen und Zahlen sowie Brüche werden nicht ausgezeichnet
                            und damit als normaler Text wiedergegeben.</p></div><div><head>Interpunktion</head><p>Die Interpunktion wird wie in der Vorlage wiedergegeben; allerdings
                            entfallen mögliche Leerstellen zwischen Satzzeichen und den Wörtern,
                            nach denen erstere stehen. Offensichtlich fehlende Satzzeichen (Punkte,
                            Kommas, Bindestriche etc.), die zum Verständnis notwendig sind, können
                            gesetzt und mit <code>&lt;add resp="editor"&gt;…&lt;/add&gt;</code>
                            versehen werden.</p></div><div><head>Unterführungszeichen</head><p>Unterführungszeichen, die das Wort oder den Satz in der darüber stehenden
                            Zeile wiederholen, werden stillschweigend aufgelöst.</p></div><div><head>Füllstriche</head><p>Reine Füllstriche am Ende einer Zeile werden nicht wiedergegeben.</p></div><div><head>Geschwungenen Klammern</head><p>Werden mehrere Zeilen von einer geschwungenen Klammer ( { oder } )
                            eingefaßt, wird dieser Text ohne Auszeichnung wiedergegeben: Steht der
                            Text, der von der Klammer eingefaßt ist, links von der Klammer, kommt
                            ganz an Ende dieses Textes eine geschwungene Klammer ( } ), auf die dann
                            der Text außerhalb der Klammer folgt. Steht der Text, der von der
                            Klammer eingefaßt wird, rechts von der Klammer, so schreibt man zunächst
                            den Text außerhalb der Klammer hin, dann folgt die Klammer ( { ) und
                            sodann der Inhalt derselben.</p></div></div><div><head>Technische Anmerkungen zum Schema</head></div><div><head>TODO</head><list><item>Herausfinden warum das generieren einer HTML Dokumentation nicht
                            funktioniert.</item></list></div><div><head>Reguläre Audrücke für die Validierung</head><list><item><label>Getty</label>#GettyID:\d{7,8}</item><item><label>Cerl</label>#CerlID:cn[pi]\d{8,9}</item><item><label>URL</label>#http(s?)://\S+</item><item><label>Census</label>&gt;#CensusID:\d{9}</item><item><label>Kombinationen</label>(#http(s?)://\S+\s?|#GettyID:\d{7,8}\s?|#CerlID:cnp\d{8,9}\s?)+</item></list></div><div><head>URL Präfixe</head><list><item><label>Arachne</label>#http://arachne.uni-koeln.de/\S+</item><item><label>GDN</label>#http://d-nb.info/gnd/\S+</item></list></div></div></front><body><p>TEI ODD Schema für das Archaeo 18 Projekt.</p><schemaSpec ident="Archaeo18" docLang="de" prefix="tei_" xml:lang="de"><moduleRef key="core" except="analytic distinct email gb imprint lg meeting name num orig postBox postCode said series speaker stage street teiCorpus sp imprint monogr divGen gloss headItem headLabel l listBibl measure measureGrp prt reg resp rs soCalled textLang time"/><moduleRef key="tei" except=""/>
                <!-- Can be removed if no metadata is available: handNote scriptNote typeNote --><moduleRef key="header" except=""/><moduleRef key="textstructure" except="argument byline closer dateline epigraph floatingText group imprimatur opener postscript salute signed trailer div1 div2 div3 div4 div5 div6 div7 front back titlPage titlePart docAuthor docDate docEdition docImprint docTitle"/><moduleRef key="namesdates" except="climate faith floruit langKnowledge langKnown listEvent listNym listOrg listPerson listPlace listRelation nym person personGrp population region relation relationGrp residence sex socecStatus state terrain trait"/><moduleRef key="figures" except="notatedMusic"/><moduleRef key="linking" except="alt altGrp anchor join joinGrp link linkGrp seg timeline when"/><moduleRef key="transcr" except="addSpan am damageSpan delSpan ex facsimile handNotes line listTranspose metamark mod redo restore retrace sourceDoc space subst substJoin surface surfaceGrp surplus transpose undo zone"/><moduleRef key="msdescription"/>
                <!--
                <classSpec module="linking" ident="att.global.linking" mode="change" type="atts">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec module="tei" ident="att.ascribed" mode="change" type="atts">
                    <attList>
                        <attDef ident="who" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec module="tei" ident="att.breaking" mode="change" type="atts">
                    <attList>
                        <attDef ident="break" mode="delete"/>

                    </attList>
                </classSpec>
                -->
                <!-- This is needed for enrichment
                <classSpec module="tei" ident="att.canonical" mode="change" type="atts">
                    <attList>
                        <attDef ident="ref" mode="delete"/>
                        <attDef ident="key" mode="delete"/>
                    </attList>
                </classSpec>
                -->
                <!-- 
                <classSpec module="tagdocs" ident="att.combinable" mode="change" type="atts">
                    <attList>
                        <attDef ident="mode" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec module="transcr" ident="att.coordinated" mode="change" type="atts">
                    <attList>
                        <attDef ident="start" mode="delete"/>
                        <attDef ident="ulx" mode="delete"/>
                        <attDef ident="uly" mode="delete"/>
                        <attDef ident="lrx" mode="delete"/>
                        <attDef ident="lry" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec module="tei" ident="att.damaged" mode="change" type="atts">
                    <attList>
                        <attDef ident="hand" mode="delete"/>
                        <attDef ident="agent" mode="delete"/>
                        <attDef ident="degree" mode="delete"/>
                        <attDef ident="group" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec module="tei" ident="att.datable" mode="change" type="atts">
                    <attList>
                        <attDef ident="calender" mode="delete"/>
                        <attDef ident="period" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec module="namesdates" ident="att.datable.custom" mode="change" type="atts">
                    <attList>
                        <attDef ident="when-custom" mode="delete"/>
                        <attDef ident="notBefore-custom" mode="delete"/>
                        <attDef ident="notAfter-custom" mode="delete"/>
                        <attDef ident="from-custom" mode="delete"/>
                        <attDef ident="to-custom" mode="delete"/>
                        <attDef ident="datingPoint" mode="delete"/>
                        <attDef ident="datingMethod" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec module="namesdates" ident="att.datable.iso" mode="change" type="atts">
                    <attList>
                        <attDef ident="when-iso" mode="delete"/>
                        <attDef ident="notBefore-iso" mode="delete"/>
                        <attDef ident="notAfter-iso" mode="delete"/>
                        <attDef ident="from-iso" mode="delete"/>
                        <attDef ident="to-iso" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec module="namesdates" ident="att.datable.w3c" mode="change" type="atts">
                    <attList>
                        <attDef ident="when" mode="delete"/>
                        <attDef ident="notBefore" mode="delete"/>
                        <attDef ident="notAfter" mode="delete"/>
                        <attDef ident="from" mode="delete"/>
                        <attDef ident="to" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec module="tei" ident="att.declareable" mode="change" type="atts">
                    <attList>
                        <attDef ident="default" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec module="tei" ident="att.declaring" mode="change" type="atts">
                    <attList>
                        <attDef ident="decls" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec module="tei" ident="att.dimensions" mode="change" type="atts">
                    <attList>
                        <attDef ident="unit" mode="delete"/>
                        <attDef ident="quantity" mode="delete"/>
                        <attDef ident="extent" mode="delete"/>
                        <attDef ident="precision" mode="delete"/>
                        <attDef ident="scope" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec module="tei" ident="att.divLike" mode="change" type="atts">
                    <attList>
                        <attDef ident="org" mode="delete"/>
                        <attDef ident="sample" mode="delete"/>
                        <attDef ident="part" mode="delete"/>
                    </attList>
                </classSpec>
 --><elementSpec ident="hi" mode="change"><attList><attDef ident="rend" usage="req" mode="change"><gloss>Die Art des Highlighting muss angegeben werden.</gloss><datatype minOccurs="1" maxOccurs="unbounded"><text xmlns="http://relaxng.org/ns/structure/1.0"/></datatype><valList type="closed" mode="replace"><valItem ident="underline"><gloss>Normal unterstrichen</gloss></valItem><valItem ident="double underline"><gloss>Doppelt unterstrichen</gloss></valItem><valItem ident="italic"><gloss>Kursiv</gloss></valItem><valItem ident="bold"><gloss>Fett</gloss></valItem><valItem ident="sup"><gloss>Höhergestellt</gloss></valItem><valItem ident="sub"><gloss>Tiefergestellt</gloss></valItem></valList></attDef></attList></elementSpec><elementSpec ident="ref" mode="change"><attList><attDef ident="target" usage="req" mode="change"><gloss>Es muss ein Linkziel angegeben werden.</gloss><datatype><rng:data xmlns:rng="http://relaxng.org/ns/structure/1.0" type="string"><rng:param name="pattern">(#http(s?)://\S+\s?|#p\d{1,4}\s?)+</rng:param></rng:data></datatype></attDef></attList></elementSpec><elementSpec ident="placeName" mode="change"><attList><attDef ident="ref" usage="req" mode="change"><gloss>Es muss ein Linkziel angegeben werden.</gloss><datatype><rng:data xmlns:rng="http://relaxng.org/ns/structure/1.0" type="string"><rng:param name="pattern">(#GettyID:\d{7,8}\s?|#http://arachne\.uni-koeln\.de/\S+\s?)+</rng:param>
                                    <!--
                                    <rng:param name="pattern">#GettyID:\d{7,8}</rng:param>
                                    --></rng:data></datatype></attDef></attList></elementSpec><elementSpec ident="persName" mode="change"><attList><attDef ident="ref" usage="req" mode="change"><gloss>Es muss ein Linkziel angegeben werden.</gloss><datatype><rng:data xmlns:rng="http://relaxng.org/ns/structure/1.0" type="string"><rng:param name="pattern">(#CerlID:cn(p|i)\d{8,9}\s?)+</rng:param></rng:data></datatype></attDef><attDef ident="role" usage="opt" mode="change"><gloss>Es kann der Typ eines &lt;term&gt; angegeben werden.</gloss><valList type="closed" mode="replace"><valItem ident="author"><gloss>Autor</gloss></valItem><valItem ident="scientist"><gloss>Wissenschaftler</gloss></valItem></valList></attDef></attList></elementSpec><elementSpec ident="term" mode="change"><attList><attDef ident="ref" usage="opt" mode="change"><gloss>Es sollte ein Linkziel angegeben werden.</gloss><datatype><rng:data xmlns:rng="http://relaxng.org/ns/structure/1.0" type="string"><rng:param name="pattern">(#CensusID:\d{6,9}\s?|#http://arachne\.uni-koeln\.de/\S+\s?)+</rng:param></rng:data></datatype></attDef><attDef ident="type" usage="opt" mode="change"><gloss>Es kann der Typ eines &lt;term&gt; angegeben werden.</gloss><datatype minOccurs="1" maxOccurs="unbounded"><rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.enumerated"/></datatype><valList type="closed" mode="replace"><valItem ident="collection"><gloss>Sammlung</gloss></valItem>
                                <!--
                                    Wird nicht mehr benötigt
                                <valItem ident="statue">
                                    <gloss>Statue</gloss>
                                </valItem>
                                --></valList></attDef></attList></elementSpec><elementSpec ident="add" mode="change"><attList><attDef ident="resp" usage="opt" mode="change"><gloss>Bearbeiter</gloss><datatype><rng:data xmlns:rng="http://relaxng.org/ns/structure/1.0" type="string"/></datatype></attDef></attList></elementSpec><elementSpec ident="note" mode="change"><constraintSpec ident="type-resp" scheme="isoschematron"><desc>Check if a @type and @resp is present</desc><constraint xmlns:sch="http://purl.oclc.org/dsdl/schematron"><sch:pattern id="type-resp-present"><sch:ns prefix="TEI" uri="http://www.tei-c.org/ns/1.0"/><sch:rule context="TEI:note[@resp]"><sch:assert test="@type = 'certainty'">You should provide @type
                                        = 'certainty' if someone is reponsible.</sch:assert></sch:rule></sch:pattern></constraint></constraintSpec><constraintSpec ident="resp-type" scheme="isoschematron"><desc>Check if a @type and @resp is present</desc><constraint xmlns:sch="http://purl.oclc.org/dsdl/schematron"><sch:pattern id="type-resp-present"><sch:ns prefix="TEI" uri="http://www.tei-c.org/ns/1.0"/><sch:rule context="TEI:note[@type = 'certainty']"><sch:assert test="@resp">You should provide someone reponsible (@resp) if @type
                                        = 'certainty'.</sch:assert></sch:rule></sch:pattern></constraint></constraintSpec><attList><attDef ident="place" usage="opt" mode="change"><gloss>Es kann angegeben werden wo sich die Anmerkung befindet</gloss><valList type="closed" mode="replace"><valItem ident="margin"><gloss>Einzug</gloss></valItem><valItem ident="bottom"><gloss>Unten</gloss></valItem><valItem ident="end"><gloss>Ende</gloss></valItem><valItem ident="inline"><gloss>Eingebunden</gloss></valItem><valItem ident="top"><gloss>Oben</gloss></valItem><valItem ident="above"><gloss>Über</gloss></valItem></valList></attDef><attDef ident="type" usage="opt" mode="change"><gloss>Es kann angegeben werden von welchem Typ eine Anmerkung
                                ist.</gloss><valList type="closed" mode="replace"><valItem ident="certainty"><gloss>Anmerkung des Bearbeiters</gloss></valItem></valList></attDef><attDef ident="resp" usage="opt" mode="change"><gloss>Es kann der Bearbeiter angegeben werden.</gloss><datatype><rng:data xmlns:rng="http://relaxng.org/ns/structure/1.0" type="string"/></datatype></attDef></attList></elementSpec>
                <!--
                <elementSpec ident="date" mode="change">
                    <attList>
                        <attDef ident="when" usage="opt" mode="change">
                            <gloss>Das Datim in maschinenlesbarer Form</gloss>
                            
                        </attDef>
                    </attList>
                </elementSpec>
                --><elementSpec ident="fw" mode="change"><attList><attDef ident="place" usage="opt" mode="change"><gloss>Es kann angegeben werden wo sich die Anmerkung befindet</gloss><valList type="closed" mode="replace"><valItem ident="margin"><gloss>Einzug</gloss></valItem><valItem ident="bottom"><gloss>Unten</gloss></valItem><valItem ident="end"><gloss>Ende</gloss></valItem><valItem ident="inline"><gloss>Eingebunden</gloss></valItem><valItem ident="top"><gloss>Oben (Kopfzeile)</gloss></valItem><valItem ident="above"><gloss>Über</gloss></valItem></valList></attDef><attDef ident="type" usage="opt" mode="change"><gloss>Von welchem Typ das Element ist.</gloss><valList type="closed" mode="replace"><valItem ident="catch"><gloss/></valItem></valList></attDef></attList></elementSpec><elementSpec ident="milestone" mode="change"><constraintSpec scheme="isoschematron" ident="milestone"><desc>Check if &lt;milestone/&gt; tags are on the same level.</desc><constraint xmlns:sch="http://purl.oclc.org/dsdl/schematron"><sch:pattern id="column-milestones"><sch:ns prefix="TEI" uri="http://www.tei-c.org/ns/1.0"/><sch:rule context="TEI:milestone[@type='end']"><sch:assert test="./preceding-sibling::TEI:milestone[@type='start']">Start milestone not found, might be nesting
                                        error</sch:assert></sch:rule></sch:pattern></constraint></constraintSpec><attList><attDef ident="unit" usage="req" mode="change"><gloss>Art des Umbruchs müssen angegeben werden</gloss><datatype minOccurs="1" maxOccurs="unbounded"><text xmlns="http://relaxng.org/ns/structure/1.0"/></datatype><valList type="closed" mode="replace"><valItem ident="column"><gloss>Spalte</gloss></valItem></valList></attDef><attDef ident="type" usage="req" mode="change"><gloss>Anfang oder Ende des Umbruchs müssen angegeben werden</gloss><datatype minOccurs="1" maxOccurs="unbounded"><text xmlns="http://relaxng.org/ns/structure/1.0"/></datatype><valList type="closed" mode="replace"><valItem ident="start"><gloss>Anfang</gloss></valItem><valItem ident="end"><gloss>Ende</gloss></valItem></valList></attDef></attList></elementSpec><elementSpec ident="foreign" mode="change"><attList><attDef ident="xml:lang" usage="req" mode="change"><gloss>Es muss angegeben werden in welcher Sprache der Abschnitt
                                abgefasst ist</gloss><datatype minOccurs="1" maxOccurs="unbounded"><text xmlns="http://relaxng.org/ns/structure/1.0"/></datatype><valList type="closed" mode="replace"><valItem ident="de"><gloss>deutsch</gloss></valItem><valItem ident="en"><gloss>englisch</gloss></valItem><valItem ident="fr"><gloss>französisch</gloss></valItem><valItem ident="it"><gloss>italienisch</gloss></valItem><valItem ident="la"><gloss>latein</gloss></valItem><valItem ident="gr"><gloss>griechisch</gloss></valItem><valItem ident="es"><gloss>spanisch</gloss></valItem><valItem ident="he"><gloss>hebräisch</gloss></valItem></valList></attDef></attList></elementSpec><elementSpec ident="figure" mode="change"><constraintSpec ident="figure-decription" scheme="isoschematron"><desc>Check if a description of a figure is present</desc><constraint xmlns:sch="http://purl.oclc.org/dsdl/schematron"><sch:pattern id="alternative-description"><sch:ns prefix="TEI" uri="http://www.tei-c.org/ns/1.0"/><sch:rule context="TEI:figure"><sch:assert test="TEI:figDesc or TEI:head">You should provide
                                        information &lt;TEI:figDesc&gt; in a figure from which we
                                        can construct an alt attribute in HTML.</sch:assert></sch:rule></sch:pattern></constraint></constraintSpec><constraintSpec ident="figure-hr-rend" scheme="isoschematron"><desc>Check if a both elements for horizontal line are present</desc><constraint xmlns:sch="http://purl.oclc.org/dsdl/schematron"><sch:pattern id="hr-rend"><sch:ns prefix="TEI" uri="http://www.tei-c.org/ns/1.0"/><sch:rule context="TEI:figure[@rend]"><sch:assert test="@place">@rend attribute set, but not
                                        @place.</sch:assert></sch:rule></sch:pattern></constraint></constraintSpec><constraintSpec ident="figure-hr-place" scheme="isoschematron"><desc>Check if a both elements for horizontal line are present</desc><constraint xmlns:sch="http://purl.oclc.org/dsdl/schematron"><sch:pattern id="hr-place"><sch:rule context="TEI:figure[@place]"><sch:assert test="@rend">@place attribute set, but not
                                        @rend.</sch:assert></sch:rule></sch:pattern></constraint></constraintSpec><attList><attDef ident="rend" usage="opt" mode="change"><gloss>Die gewünschte Darstellung kann angegeben werden</gloss><datatype minOccurs="1" maxOccurs="unbounded"><text xmlns="http://relaxng.org/ns/structure/1.0"/></datatype><valList type="closed" mode="replace"><valItem ident="line"><gloss>Linie</gloss></valItem></valList></attDef><attDef ident="place" usage="opt" mode="change"><gloss>Die Plazierung kann angegeben werden</gloss><datatype minOccurs="1" maxOccurs="unbounded"><text xmlns="http://relaxng.org/ns/structure/1.0"/></datatype><valList type="closed" mode="replace"><valItem ident="inline"><gloss>Im Text</gloss></valItem></valList></attDef></attList></elementSpec>
                
                <!-- TEI Header -->
                <!-- * Define Elements that shouldn't be empty
                     * Add structural checks-->
                <!--
                <elementSpec ident="country" mode="change">
                    <constraintSpec ident="country" scheme="isoschematron">
                        <desc>Check if a country is present</desc>
                        <constraint xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                            <sch:pattern id="header-country">
                                <sch:ns prefix="TEI" uri="http://www.tei-c.org/ns/1.0"/>
                                <sch:rule context="TEI:country">
                                    <sch:assert test="./text() != ''">You should provide
                                        the coutry where the manuscript is located.</sch:assert>
                                </sch:rule>
                            </sch:pattern>
                        </constraint>
                    </constraintSpec>
                </elementSpec>
                <elementSpec ident="settlement" mode="change">
                    <constraintSpec ident="settlement" scheme="isoschematron">
                        <desc>Check if a settlement is present</desc>
                        <constraint xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                            <sch:pattern id="header-settlement">
                                <sch:ns prefix="TEI" uri="http://www.tei-c.org/ns/1.0"/>
                                <sch:rule context="TEI:settlement">
                                    <sch:assert test="./text() != ''">You should provide
                                        the settlement where the manuscript is located.</sch:assert>
                                </sch:rule>
                            </sch:pattern>
                        </constraint>
                    </constraintSpec>
                </elementSpec>
                -->
                
                <!-- Deleted Elements --><elementSpec ident="monogr" mode="delete" module="core"/><elementSpec ident="series" mode="delete" module="core"/><elementSpec ident="age" mode="delete" module="namesdates"/><elementSpec ident="birth" mode="delete" module="namesdates"/><elementSpec ident="death" mode="delete" module="namesdates"/><elementSpec ident="education" mode="delete" module="namesdates"/><elementSpec ident="org" mode="delete" module="namesdates"/><elementSpec ident="event" mode="delete" module="namesdates"/><elementSpec ident="place" mode="delete" module="namesdates"/><elementSpec ident="occupation" mode="delete" module="namesdates"/><elementSpec ident="nationality" mode="delete" module="namesdates"/>

                <!-- Deleted Attribute classes --><classSpec ident="att.damaged" type="atts" mode="delete"/><classSpec ident="att.coordinated" type="atts" mode="delete"/><classSpec ident="att.declarable" type="atts" mode="delete"/><classSpec ident="att.declaring" type="atts" mode="delete"/><classSpec ident="att.dimensions" type="atts" mode="delete"/><classSpec ident="att.divLike" type="atts" mode="delete"/><classSpec ident="att.enjamb" type="atts" mode="delete"/><classSpec ident="att.entryLike" type="atts" mode="delete"/><classSpec ident="att.global.analytic" type="atts" mode="delete"/><classSpec ident="att.global.facs" type="atts" mode="delete"/><classSpec ident="att.handFeatures" type="atts" mode="delete"/><classSpec ident="att.interpLike" type="atts" mode="delete"/><classSpec ident="att.lexicographic" type="atts" mode="delete"/><classSpec ident="att.measurement" type="atts" mode="delete"/><classSpec ident="att.metrical" type="atts" mode="delete"/><classSpec ident="att.msExcerpt" type="atts" mode="delete"/><classSpec ident="att.ranging" type="atts" mode="delete"/><classSpec ident="att.rdgPart" type="atts" mode="delete"/><classSpec ident="att.readFrom" type="atts" mode="delete"/><classSpec ident="att.segLike" type="atts" mode="delete"/><classSpec ident="att.sortable" type="atts" mode="delete"/><classSpec ident="att.sourced" type="atts" mode="delete"/><classSpec ident="att.spanning" type="atts" mode="delete"/><classSpec ident="att.textCritical" type="atts" mode="delete"/><classSpec ident="att.timed" type="atts" mode="delete"/><classSpec ident="att.transcriptional" type="atts" mode="delete"/></schemaSpec></body></text></TEI>